body {
    background-image: url(download\ \(1\).jpeg);
    background-color: bisque;
    background-size: cover;
    background-repeat: no-repeat;
}

.form {
    float: center;
    font-size: x-large;
    text-decoration-color: burlywood;
}

#myparagraph {
    background-color: bisque;
    text-align: left;
    float: left;
    background-position: top;
}

#male {
    font-family: fantasy;
    color: burlywood;
}